/*
 * Copyright 2018, Data61
 * Commonwealth Scientific and Industrial Research Organisation (CSIRO)
 * ABN 41 687 119 230.
 *
 * This software may be distributed and modified according to the terms of
 * the GNU General Public License version 2. Note that NO WARRANTY is provided.
 * See "LICENSE_GPLv2.txt" for details.
 *
 * @TAG(DATA61_GPL)
 */

/ {
	chosen {
		seL4,kernel-devices =
		    "serial0",
		    &{/ocp/interrupt-controller@48200000},
		    /* The following devices are used to support the timer used by the kernel */
		    /* dmtimer4, OMAP Dual-Mode timer */
		    &{/ocp/timer@48044000},
		    &{/ocp/l4_wkup@44c00000/prcm@200000}, /* Power reset and clock manager */
		    &{/ocp/wdt@44e35000}; /* Watchdog timer */
	};
};
