/*
 * Copyright 2018, Data61
 * Commonwealth Scientific and Industrial Research Organisation (CSIRO)
 * ABN 41 687 119 230.
 *
 * This software may be distributed and modified according to the terms of
 * the GNU General Public License version 2. Note that NO WARRANTY is provided.
 * See "LICENSE_GPLv2.txt" for details.
 *
 * @TAG(DATA61_GPL)
 */

/ {
	/* Pick serial console */
	chosen {
		stdout-path = "serial1";
	};

	/* Upstream bug: the memory node doesn't have a device_type,
	 * but there is an empty memory node with a device_type. */
	/delete-node/ memory;
	memory@80000000 {
		device_type = "memory";
	};

	l2cc@30000000 {
		compatible = "fsl,imx31-l2cc";
		reg = <0x30000000 0x1000>;
	};

	soc {
		aips@43f00000 {
			/* Incomplete PMU binding, but enough to generate headers. */
			evtmon@43f08000 {
				compatible = "fsl,imx31-evtmon";
				reg = <0x43f08000 0x4000>;
				interrupts = <0x17>;
			};
		};

		aips@53f00000 {
			/* Incomplete timer binding, but enough to generate headers. */
			timer@53f94000 {
				compatible = "fsl,imx31-epit";
				reg = <0x53f94000 0x4000>;
				interrupts = <0x1c>;
			};
		};
	};
};
