#
# Copyright 2014, General Dynamics C4 Systems
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(GD_GPL)
#

config IOMMU
    bool "IOMMU support"
        depends on PLAT_PC99
        default y
        help
            IOMMU support for VT-d enabled chipset

config VTX
    bool "VTX support"
        depends on PLAT_PC99
        default y
        help
            VTX support

choice
    prompt "IRQ Controller"
    depends on PLAT_PC99
    default IRQ_PIC
    help
        Select the IRQ controller seL4 will use. Code for others may
        still be included if needed to disable at run time
    config IRQ_PIC
        bool "PIC"
        help
            Use the legacy PIC controller
    config IRQ_IOAPIC
        bool "IOAPIC"
        help
            Use one or more IOAPIC controllers
endchoice

config MAX_NUM_IOAPIC
    prompt "Max supported IOAPICs"
    depends on PLAT_PC99
    int
    default 1
    help
        Configure the maximum number of IOAPIC controllers that can
        be supported. SeL4 will detect IOAPICs regardless of whether
        the IOAPIC will actually be used as the final IRQ controller

config PAE_PAGING
    bool "Use PAE Paging"
    depends on ARCH_IA32
    default n
    help
        PAE paging uses 4K/2M pages and has three levels of paging. If this
        is not used the old 32-bit paging with 4K/4M pages will be used
